body {
    height: 5000px;
}

.x-btn:focus, .button:focus, [type="submit"]:focus {
    outline: none;
 }

.plus-button {
    color: white;
    font-size: 5rem;
    background-color: transparent;
}

@media only screen
and (min-width: 0.98px) {
    #add {
        position: absolute;
        top: -5px;
        right: 100px;
    }
}


@media only screen
and (min-width: 200.98px) {
    #footer {
        position: fixed;
        bottom: 0;
        right: 7%;
    }
}

@media only screen
and (min-width: 500.98px) {
    #footer {
        position: fixed;
        bottom: 0;
        left: 8%;
    }
}

@media only screen
and (min-width: 600.98px) {
    #footer {
        position: fixed;
        bottom: 0;
        left: 18%;
    }
}

@media only screen
and (min-width: 1100.98px) {
    #footer {
        position: fixed;
        bottom: 0;
        left: 30%;
    }
}

@media only screen
and (min-width: 1500.98px) {
    #footer {
        position: fixed;
        bottom: 0;
        left: 32%;
    }
    
    .left-card {
        left: 0%;
    }
}

.note-card {
    font-family: 'Montserrat', sans-serif;
}

input {
    border: 2px solid lightgrey;
    padding: 3px;
}


.footer-text {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.35rem;
}